header{
    display: grid;
    background-color: cadetblue;
    background-image: url(images/imageHeader2.jpg);
    background-size: 100%;
    background-position: center center;
    width: auto;
    height: 200px;
}
.container-botoes{
    text-align: center;
    position: relative;
    top: 80%;
}
.btn{
    background-color: rgba(228, 20, 255, 0.5);
    border: rgba(228, 20, 255, 0.5);
    width: 100px;
    height: 30px;
}
.btn:hover{
    background-color: rgba(228, 20, 255, 0.822);
}
.container-div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
}
#div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: auto;
    background-color: rgba(0, 183, 255, 0.651);
}
#div2{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 183, 255, 0.651);
}
#div3{
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 183, 255, 0.651);
}
h1{
    text-align: center;
    font-family: Arial;
}
h2{
    text-align: center;
    font-family: Arial;
}
span{
    position: relative;
    top: 10px;
    width: 150px;
    height: 150px;
    background-image: url(images/perfil.jpg);
    background-size: 120%;
    background-position: center center;
    border-radius: 50%;
    border: 10px solid rgba(50, 221, 7, 0);
}
.subDiv{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    row-gap: 20px;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.aa{
    position: relative;
    color: black;
    font-weight: bold;
    font-family: Arial;
    top: 10px;
    right: 15px;
}
p{
    font-family: Arial;
}
li{
    font-family: Arial;
}