header{
    display: grid;
    background-color: cadetblue;
    width: auto;
    height: 200px;
}
.container-botoes{
    text-align: center;
    position: relative;
    top: 80%;
}
.btn{
    width: 100px;
    height: 30px;
}
.container-div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}
#div1{
    width: 200px;
    height: 250px;
    background-color: rgb(0, 183, 255);
}
#div2{
    width: auto;
    height: auto;
    border: solid 10px rgb(0, 183, 255);
    background-color: rgb(0, 183, 255);
}
#div3{
    width: 200px;
    height: 250px;
    background-color: rgb(0, 183, 255);
}
h1{
    text-align: center;
}
span{
    width: 150px;
    height: 150px;
    background-image: url();
}